body {
    background: rgb(6, 83, 172);
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-brand {
    font-size: 1.5rem;
    color: black;
    font-weight: 900;
}

#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavBar .nav-link {
    color: white;
}

#mainTitle h1 {
    font-size: 3rem;
    font-weight: 100;
}

#mainTitle h2 {
    font-size: 2.5rem;
    font-weight: 100;
}

#mainTitle span {
    color: #0000B2;
}

#landingPic {
    margin-top: 40px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 1.5rem;
}

.bg-color {
    background-color: rgb(30, 40, 170);
}